In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import csv
import requests
import json

In [3]:
# Read accident CSV file as Pandas DataFrame
accident_df = pd.read_csv(r"Data/accident_FARS.csv")
accident_df

,STATE,STATENAME,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERSONS,PERMVIT,PERNOTMVIT,...,HOSP_MN,HOSP_MNNAME,CF1,CF1NAME,CF2,CF2NAME,CF3,CF3NAME,FATALS,DRUNK_DR
0,1,Alabama,10001,2,2,0,0,3,3,0,...,27,27,0,None,0,None,0,None,1,1
1,1,Alabama,10002,2,2,0,0,2,2,0,...,99,Unknown EMS Hospital Arrival Time,0,None,0,None,0,None,1,0
2,1,Alabama,10003,3,3,0,0,4,4,0,...,5,5,14,"Motor Vehicle struck by falling cargo,or somet...",0,None,0,None,1,0
3,1,Alabama,10004,1,1,0,1,1,1,1,...,88,Not Applicable (Not Transported),0,None,0,None,0,None,1,0
4,1,Alabama,10005,1,1,0,0,1,1,0,...,88,Not Applicable (Not Transported),0,None,0,None,0,None,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33239,56,Wyoming,560117,1,1,0,0,1,1,0,...,99,Unknown EMS Hospital Arrival Time,0,None,0,None,0,None,1,0
33240,56,Wyoming,560118,5,5,0,0,6,6,0,...,0,0,0,None,0,None,0,None,1,0
33241,56,Wyoming,560119,1,1,0,0,1,1,0,...,21,21,0,None,0,None,0,None,1,1
33242,56,Wyoming,560120,1,1,0,0,2,2,0,...,52,52,0,None,0,None,0,None,1,1
33243,56,Wyoming,560121,2,2,0,0,3,3,0,...,2,2,0,None,0,None,0,None,2,1